//----------------------//  Mixins and Variables //----------------------// 
$std-MaxWidth: 900px;
$std-Width: 90vw;

@mixin flex {
    display: flex;
    justify-content: center;
    align-content: center;
}
@mixin flex-col {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@mixin standardWidth {
    width: $std-Width;
    max-width: $std-MaxWidth;
}


//----------------------//  Standard //----------------------// 
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
main {
    padding: 20px 1vw;
    // max-width: 10px;
    max-width: 1500px;
    margin: 0 auto;
    @include flex-col;
}
  
  


//----------------------//  Typography //----------------------// 



.accordTitle {
    width: 100%;
}

* {
    // border: 1px solid lightgrey;
}


//----------------------//  Navbar  //----------------------// 
.nav {
    .navButtons {
        margin-left: 20px;
        .navBtn {
            margin-left: 10px;
            padding: 10px 10px;
            border-bottom: 2px solid rgba(0,0,0,0);
            border-radius: 0;
            transition: all 0.3s ease;
            &:hover {
                border-bottom: 2px solid white;
                background-color: rgba(0,0,0,0);
            }
        }
    }
}

.sideNav {
    a.teamLink {
        display: flex;
        width: 100%;
    }

}

@media (max-width: 750px) {
    .navButtons { display: none; }
}


//----------------------//  Standings Page  //----------------------// 
h5 {
    margin-bottom: 12px !important;
}
.standingsContainer {
    @include standardWidth;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;

    h4 {
        margin-bottom: 12px;
    }

    .standingsTable {
        .teamName {
            a {
                @include flex;
                justify-content: flex-start;
                background-color: rgba(0,0,0,0.03);
                border-radius: 5px;
                padding: 5px 10px;
                transition: all 0.3s ease;
                min-width: 240px;
                max-width: 300px;

                &:hover {
                    background-color: rgba(0,0,0,0.25);
                }
                
            
                .MuiAvatar-root {
                    // margin: auto;
                }
                p {
                    margin: auto auto auto 20px;
                }
            }
        }
    }
}

.standingsGraph {
    text-align: center;
    // @include standardWidth;
    // margin: 0 auto;
    padding: 0 0 60px;

    h4 {
        margin-bottom: 12px;
    }

    .graphContainer {
        border: 1px solid lightgrey;
        border-radius: 5px;
        overflow-x: scroll;
        padding: 12px;

        .graphContainer-2 {
            min-width: 800px;
            min-height: 400px;
            height: 50vw;
            max-height: 650px;
            margin: auto;
            @include flex;
        }
    }
}

.graphBtnContainer {
    margin-top: 20px;
    width: 100%;
    @include flex;
    padding: 0 16px 16px;
    .MuiFormControlLabel-root {
        width: 220px;
        padding: 0 5px;
        @include flex;
        justify-content: flex-start;    
        // border: 0.5px solid slategrey;    
        border-radius: 5px;
        background-color: #F4F4F4;
    }
}
.updated {
    margin-left: auto;
    color: grey;
    font-style: italic;
    padding: 3px 0;
    font-size: 0.8rem;
}

.avatarContainer {
    @include flex;
    flex-wrap: wrap;

    width: 80vw;
    max-width: 650px;
    min-width: 250px;
    margin: auto;

    .standingsTeamBtn {
        border: none;
        background: none;
        border-radius: 100%;
        border: 3px solid rgba(0,0,0,0);
        margin: 0 16px 12px;
        transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            border: 3px solid rgba(0,0,0,0.8);
        }
    }
}

//----------------------//  Team Page  //----------------------// 
// Note - also the highlights page currently lol



//----------------------//  Highlights Page  //----------------------// 
main.highlights-page {
    @include flex-col;

    .btnContainer {
        @include flex;
        margin: auto;
        width: 100%;
    }
    .updated {
        margin: auto;
        @include flex;
    }
}

.titleContainer {
    @include flex;
    @include standardWidth;
    // height: 100px;
    margin: auto;
    padding: 20px 0;

    * { 
        margin: auto 0; 
    }

    .avatar {
        margin: auto 20px auto 0;
    }

    .pushRight {
        margin-left: auto;
    }

    .yahoo {
        height: 32px;
        width: 32px;
        // margin: 5px;
        padding: 5px;
        border-radius: 100%;
        border: 1px solid rgba(0,0,0,0);
        transition: all 0.3s ease;

        &:hover {
            background-color: lightgrey;
        }
    }


}
.teamDetailsContainer {
    @include flex;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    min-width: 250px;
    max-width: 400px;
    width: 50vw;
    margin: auto;
    padding-bottom: 50px;

    span.teamDetail {
        padding: 6px 10px;
    }
}
.teamHighlights {
    @include standardWidth;
    @include flex-col;
    margin: 0 auto;
    
    .hl-item {
        width: 100%;
        padding-bottom: 10px;

        .hl-titleContainer {
            @include flex-col;
            width: 95%;
            margin: 0 auto 0 0;
            padding: 16px 10px 0;

            .playerInfo {
                width: 100%;
                @include flex;
                justify-content: flex-start;
    
                .playerInfoGrid {
                    @include flex;
                    margin: auto;
                    margin-left: 16px;
                    height: 24px;
                    width: inherit;

                    p {
                        margin-right: 20px;
                    }
                }
                .name {
                    font-weight: 600;
                }
                p.date {
                    margin: auto 0 auto auto;
                    font-style: italic;
                    font-size: 0.7rem;
                }
                
            }
            .teamDetails {
                padding: 3px 0;
                @include flex;
                justify-content: flex-start;
                div:first-child {
                    margin-right: 5px;
                    width: 30px;
                }
                span {
                    margin-top: 3px;
                }
            }
            .vidDescrip {
                @include flex-col;
                .row1 {
                    @include flex;
                    justify-content: space-between;
                    margin: 12px 0;
                }
            }
                
        }

        .vidContainer {
            min-height: 500px;

            .goalInfo {
                font-size: 0.8rem;
                margin-left: 10px; 
                margin-bottom: 16px;
            }

            .btnContainer {
                margin: 16px auto 0;
            }

            .vidIFrame {
                // margin: auto;
                height: 450px;
            }
        }
    }
}

.shareBtn {
    
}


@media (max-width: 500px) {
.teamHighlights {
        
    .hl-item {

        .hl-titleContainer {

            .playerInfo {
                padding: 5px 0;

                .headshot {
                    margin: auto;
                }
    
                .playerInfoGrid {
                    flex-direction: column;
                    height: unset;
                    align-content: flex-start;
                    p.date {
                        margin: 5px auto auto 0;
                    }
                }
            }
        }

        .vidContainer {
            min-height: unset;

            .vidIFrame {
                height: 220px;
            }
        }
    }
}
}

//----------------------//  Matchup Overview Page  //----------------------// 
.matchups {
    width: 80vw;
    max-width: 650px;
    min-width: 250px;
    margin: auto;
    @include flex-col;
    text-align: center;
}

.weekTitle {
    margin: 32px auto 20px;
}
.matchupContainer {
    width: 100%;
    margin: auto auto 10px;
    // border: 1px solid darkslategrey;

    a {
        border-radius: 5px;
        background-color: #f4f4f4;    
        padding: 10px 0;
        display: grid;
        grid-template-columns: 42.5% 15% 42.5%;
        transition: all 0.2s ease;
        // justify-content: space-between;    
        &:hover {
            background-color: lightgreen;
        }
    }
    .team1, .team2 {
        padding: 0 16px;
        @include flex;
        .MuiAvatar-img {
            height: 32px;
            width: 32px;
            border-radius: 100%;
        }
        p {
            margin: auto 6px;
        }
    }
    .team1 {
        margin-right: auto;
    }
    .team2 {
        margin-left: auto;
    }
    .score {
        @include flex;
        // flex-grow: 1;
        text-align: center;
        p {
            height: min-content;
            margin: auto;
        }
    }
}

//----------------------//  Matchup Page  //----------------------// 

.gpContainer {
    height: 100px;
    canvas {
        width: 100%;
    }
}

.backBtn {
    padding: 12px;
    position: absolute;
}

.scoreBoardButtons {
    .sb-btn {
        &:hover {
            cursor: pointer;
        }
    }
}
.matchupTitleContainer {
    padding: 32px 0 0;
    margin: auto;
    width: fit-content;
    @include flex-col;
    text-align: center;

    .scoreboardTitle {
        @include flex-col;
        padding: 20px 0 10px;

        .row {
            display: grid;
            grid-template-columns: 47% 6% 47%;
            width: 80vw;
            margin: auto;

            &.names {
                h5:first-child {
                    margin: auto 20px auto auto;
                }
                h5:last-child {
                    margin: auto auto auto 20px;
                }
            }
            &.scores {
                width: 200px;
                margin: auto;
                @include flex;
                h5 {
                    padding: 8px 4px;
                    border-radius: 3px;
                    background-color: black;
                    color: white;
                    width: 50px;
                }
                span {
                    line-height: 45px;
                }
                h5:first-child {
                    margin: auto 20px auto auto;
                }
                h5:last-child {
                    margin: auto auto auto 20px;
                }

            }
            
        }
    }
}
.scoreboardContainer {
    margin: auto;   
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    // justify-items: center;
    // align-items: center;
    // border: 1px solid red;
    grid-gap: 0;
    width: calc(200px + 13*60px - 60px);
    border: 1px solid darkslategray;
    border-top: none;
    border-radius: 5px;
    .MuiButtonGroup-root, .scoreboardRow {
        display: grid;
        grid-template-columns: 200px repeat(13, 60px);
        width: calc(200px + 13*60px - 60px);
    }
    button.MuiButton-root, span {
        padding: 10px 20px;
        // border: 1px solid red;
        @include flex;
        
        &.title {
            // font-weight: bold;
        }

        &.team {
            width: 200px;
        }
    }
    .statBox {
        border: dotted darkslategrey;
        border-width: 0.5px;
        height: 36px;
        width: auto;
        @include flex;
        p {
            line-height: 36px;
        }
    }

}

.matchGraphContainer {
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow-x: scroll;
    padding: 12px;
    .matchGraphContainer-2 {
        min-width: 800px;
        min-height: 400px;
        height: 50vw;
        max-height: 650px;
        margin: auto;
        @include flex;
    }    
}

